{{ ansible_managed | comment }}

auth_enabled: {{ loki_config_auth }}

server:
  http_listen_address: {{ loki_config_http_address }}
  http_listen_port: {{ loki_config_http_port }}
  grpc_listen_port: {{ loki_grpc_listen_port }}
  grpc_listen_address: {{ loki_grpc_listen_address }}
  log_level: {{ loki_config_log_level }}

ingester:
  lifecycler:
    address: {{ loki_config_http_address }}
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s

storage_config:
  boltdb:
    directory: /tmp/loki/index

  filesystem:
    directory: /tmp/loki/chunks

schema_config:
  configs:
  - from: 2020-05-15
    store: boltdb
    object_store: filesystem
    schema: v11
    index:
      prefix: index_
      period: {{ loki_config_period }}

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  max_streams_per_user: {{ loki_max_streams_per_user }}

ruler:
  alertmanager_url: {{ loki_alertmanager_url }}
  enable_alertmanager_v2: true
  enable_api: true
  rule_path: /tmp/loki/rules
  storage: 
    type: local
    local:
      directory: {{ loki_config_directory }}/rules
  remote_write:
    enabled: true
    client: 
      url: {{ loki_prometheus_url }}/api/v1/write
