{{ ansible_managed | comment }}

auth_enabled: {{ loki_config_auth }}

server:
  http_listen_address: {{ loki_config_http_address }}
  http_listen_port: {{ loki_config_http_port }}
  grpc_listen_address: 127.0.0.1
  log_level: {{ loki_config_log_level }}

common:
  path_prefix: /tmp/loki
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: {{ loki_config_period }}

ruler:
  alertmanager_url: http://localhost:9093
